@model GreensheetExercise.Models.SubCategoryForm


<div class="form-horizontal">

    @Html.HiddenFor(model => model.ParentCategoryID)

    @foreach (var item in Model.SubCategories)
    {
        <div class="form-group">
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.SelectedCategoryID, item.Id) <img src="@item.LogoUrl" /> @item.Title
            </div>
        </div>
    }
</div>
